@theme {
  /* COLORS */
  --color-base: #133041;
  --color-maximum-blue-green: rgb(49, 195, 189);
  --color-sky-blue: rgb(101, 233, 228);
  --color-meat-brown: rgb(242, 177, 55);
  --color-orange-yellow: rgb(255, 200, 96);
  --color-dark-gunmetal: rgb(26, 42, 51);
  --color-gunmetal: rgb(31, 54, 65);
  --color-pastel-blue: rgb(168, 191, 201);
  --color-azureish-white: rgb(219, 232, 237);
  --color-white: #fff;

  /* GRADIENT */
  --color-blue-start: #d6fcfe;
  --color-blue-end: #d6e6fe;

  /* TEXT COLORS */
  --color-txt: #133041;
}

@layer components {
  .gradient-blue {
    background-image: linear-gradient(-90deg, var(--color-blue-start) 0%, var(--color-blue-end) 100%);
    background-color: transparent;
  }
}

body {
  color: var(--color-pastel-blue);
  background-color: var(--color-dark-gunmetal);
}
