/* FOOTER */

.attribution p {
  display: inline-block;
}
.attribution {
  margin: 1.6rem 0 6rem;
  text-align: center;
  color: var(--color-base);
}
.attribution__credit {
  font-weight: 800;
  color: var(--color-blue-500) !important;
}
.attribution__credit a {
  cursor: pointer;
}
