/* FOOTER */

.attribution p {
  display: inline-block;
}
.attribution {
  text-align: center;
  color: var(--color-silver);
  margin-bottom: 34px;
}
.attribution__credit {
  font-weight: 800;
  color: var(--color-light-yellow) !important;
}
.attribution__credit a {
  cursor: pointer;
}
