/* 1. Use a more-intuitive box-sizing model */
html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% */
}
body {
  min-height: 100dvh;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* or pointer if you want to keep the default hand cursor */
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
