/* TYPOGRAPHY */

body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.88px;
}

@layer components {
  .heading-l {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    font-weight: var(--font-weight-bold);
  }
  .heading-m {
    font-size: var(--text-2xl);
    letter-spacing: 1.5px;
    font-weight: var(--font-weight-bold);
  }
  .heading-s {
    font-size: var(--text-xl);
    letter-spacing: 1.25px;
    font-weight: var(--font-weight-bold);
  }
  .heading-xs {
    font-size: var(--text-base);
    letter-spacing: 1px;
    font-weight: var(--font-weight-bold);
  }
}

/* @layer components {
  .typography {
    p {
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
    }
    h1 {
      font-size: var(--text-6xl);
      line-height: 110%;
      letter-spacing: var(--tracking-tight);
      font-weight: var(--font-weight-semibold);
    }
    h2 {
      font-size: var(--text-5xl);
      line-height: 110%;
      letter-spacing: var(--tracking-tight);
      font-weight: var(--font-weight-semibold);
    }
    h3 {
      font-size: var(--text-3xl);
      line-height: 110%;
      letter-spacing: var(--tracking-tight);
      font-weight: var(--font-weight-semibold);
    }
    h4 {
      font-size: var(--text-2xl);
      line-height: 120%;
      letter-spacing: var(--tracking-tight);
      font-weight: var(--font-weight-semibold);
    }
    h5 {
      font-size: var(--text-xl);
      line-height: 120%;
      letter-spacing: var(--tracking-tight);
      font-weight: var(--font-weight-semibold);
    }
  }
} */
